
<html>
<head>
	<title>Signup</title>

    <!-- cdn for bootswatch -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/static/stylesheets/style.css">   

</head>
<body>
    <div class="container col-md-4 col-md-offset-4">
        <div class="well">
            <h2>LogIn</h2>
            <form method="post" action="index.html">
             <p><input type="text" class="form-control" id="email" value="" placeholder="Email"></p>
             <p><input type="password" class="form-control" id="password" value="" placeholder="Password"></p>
             <p class="submit"><input type="submit" id="SignupSubmit" class="btn btn-info" name="commit" value="LogIn"></p>
         </form>
     </div>
 </div>

</body>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/underscore/underscore-min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/javascripts/app.js"></script>
</html>