<html>
<head>
	<title></title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/stylesheets/style.css">
        <script src="/static/javascripts/app.js"></script>
</head>
<body>
	 <h1>Signup</h1>
      <form method="post" action="index.html">
        <p><input type="text" id="userName" value="" placeholder="Username"></p>
        <p><input type="text" id="email" value="" placeholder="Email"></p>
        <p><input type="password" id="password" value="" placeholder="Password"></p>

        <p class="submit"><input type="submit" id="SignupSubmit" name="commit" value="Login"></p>
      </form>

</body>
</html>